
<br>
<div class="container">
    <div class="row">
        <div class="col-12 azul">
            <div class="card">
                <div class="card-body">
                <div class="direita">
                    <button type="button" class="btn btn-success btn-rounded" mdbRippled routerLink="/admin/admin/servidordetails">Novo</button>
                </div>  
                    <h3> <i class="fas fa-car fa-sm"></i> Servidores cadastrados</h3><br>         
                    <table [border]="1" class="table table-striped table-hover"> 
                        <thead>
                            <tr>

                                <th scope="col">Nome</th>
                                <th scope="col">Cargo</th>
                                <th scope="col">Setor</th>
                                <th scope="col">Data_de_avaliação</th>
                            </tr>

                        </thead>
                        <tbody>
                           @for (servidor of lista; track $index) {
                            <tr> 
                                <td>{{servidor.nome}}</td>
                                <td>{{servidor.cargoAtual}}</td>
                                <td>{{servidor.setor}}</td>
                                <td>{{servidor.dataAvaliacao}}</td>
                                <td class="direita">
                                    <button type="button" class="btn btn-primary btn-rounded" mdbRippled [routerLink]="['/admin/admin/servidordetails', servidor.id]">Editar</button>
                                   <button type="button" class="btn btn-danger btn-rounded" mdbRippled (click)="deleteById(servidor)">Delete</button>
                                </td>
                            </tr>
                           }
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>


<ng-template #modalServidorDetails>
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Servidor </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">...</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Close
  </button>
  <button type="button" class="btn btn-primary">Save changes</button>
</div>


</ng-template>

https://www.youtube.com/watch?v=J5Vd2aWKwyI&t=439s