
<br>
<div class="container">
    <div class="row">
        <div class="col-12 azul">
            <div class="card">
                <div class="card-body">
                <div class="direita">
                    <button type="button" class="btn btn-success btn-rounded" mdbRippled routerLink="/admin/admin/servidordetails">Novo</button>
                </div>  
                    <h3> <i class="fas fa-car fa-sm"></i> Servidores cadastrados</h3><br>         
                    <table [border]="1" class="table table-striped table-hover"> 
                        <thead>
                            <tr>

                                <th scope="col">Nome</th>
                                <th scope="col">Cargo</th>
                                <th scope="col">Setor</th>
                                <th scope="col">Data_de_avaliação</th>
                            </tr>

                        </thead>
                        <tbody>
                           @for (servidor of lista; track $index) {
                            <tr> 
                                <td>{{servidor.nome}}</td>
                                <td>{{servidor.cargoAtual}}</td>
                                <td>{{servidor.setor}}</td>
                                <td>{{servidor.dataAvaliacao}}</td>
                                <td class="direita">
                                    <button type="button" class="btn btn-primary btn-rounded" mdbRippled routerLink="admin/servidor/edit/{{servidor.id}}">Editar</button>
                                   <button type="button" class="btn btn-danger btn-rounded" mdbRippled (click)="delete()">Delete</button>
                                </td>
                            </tr>
                           }
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
