 <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" routerLink="/admin/dashboard">Sistema de avaliação</a>

    <!-- Toggle button -->
    <button 
      class="navbar-toggler" 
      type="button" 
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible wrapper -->
    <div 
      class="collapse navbar-collapse" 
      [class.show]="!isCollapsed">
      
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/servidor" routerLinkActive="active">Servidor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/servidorlist" routerLinkActive="active">Lista de servidores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/questoes" routerLinkActive="active">Questão</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/usuarios" routerLinkActive="active">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Sair</a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-link px-3 me-2">
          Login
        </button>
        <button type="button" class="btn btn-primary me-3">
          Bem-vindo
        </button>
      </div>
    </div>
  </div>
</nav>