 <br>
<div class="container">
    <div class="row">
        <div class="col-12 azul">
            <div class="card">
                 <div class="card-body">
                      <h3> Usuários  </h3>
                    
                    <br>
                    <mdb-form-control>
                        <input mdbInput type="username" id="username"  class="form-control" [(ngModel)]="usuarios.username" name="username"/>
                        <label for="username" class="form-label">Username</label>
                    </mdb-form-control>
                    <br>
                    <mdb-form-control>
                        <input mdbInput type="password" id="password"   class="form-control" [(ngModel)]="usuarios.password" name="cargo"/>
                        <label for="password" class="form-label">Password</label>
                    </mdb-form-control>
                    <br>
                    
                    <div class="mb-3">
                    <label class="form-label d-block">Papel:</label>
                        <div class="form-check form-check-inline">
                            <input 
                            class="form-check-input" 
                            type="radio" 
                            name="role" 
                            id="doctor"                             
                            [value]="'doctor'" 
                            [(ngModel)]="usuarios.role" required/>
                            <label class="form-check-label" for="doctor">Doctor</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input 
                            class="form-check-input" 
                            type="radio" 
                            name="role" 
                            id="norm" 
                            [value]="'norm'" 
                            [(ngModel)]="usuarios.role" /> 
                            <label class="form-check-label" for="norm">Usuário</label>
                        </div>

                    <div>
                         <button type="button" class="btn btn-success btn-rounded" mdbRippled (click)="save()">Salvar</button> 
                    </div>
            </div>
        </div>
    </div>
 