 <br>
<div class="container">
    <div class="row">
        <div class="col-12 azul">
            <div class="card">
                 <div class="card-body">
                      <h3> Cadastro de Servidor </h3>
                    <br>
                    <mdb-form-control>
                        <input mdbInput type="text" id="nome" placeholder="Nome" class="form-control" [(ngModel)]="servidor.nome" name="nome"/>
                        <label for="nome" class="form-label">Nome</label>
                    </mdb-form-control>
                    <br>
                    <mdb-form-control>
                        <input mdbInput type="text" id="matricula" placeholder="Matricula" class="form-control" [(ngModel)]="servidor.matricula" name="matricula"/>
                        <label for="matricula" class="form-label">Matricula</label>
                    </mdb-form-control>
                    <br>
                    <mdb-form-control>
                        <input mdbInput type="text" id="cpf" placeholder="CPF" class="form-control" [(ngModel)]="servidor.cpf" name="cargo"/>
                        <label for="cpf" class="form-label">CPF</label>
                    </mdb-form-control>
                    <br>
                    <mdb-form-control>
                        <input mdbInput type="text" id="cargo" placeholder="Cargo" class="form-control" [(ngModel)]="servidor.cargo" name="cargo"/>
                        <label for="cargo" class="form-label">Cargo</label>
                    </mdb-form-control>
                     <br> 
                    <mdb-form-control>
                        <input mdbInput type="date" id="data_admissao"
                         placeholder="Data de Admissão" class="form-control" [(ngModel)]="servidor.data_admissao" name="data_admissao"/>
                        <label for="data_admissao" class="form-label">Data de Admissão</label>
                    </mdb-form-control>
                    <br>
                    <div class="mb-3">
                    <label class="form-label d-block">Vínculo Funcional:</label>
                        <div class="form-check form-check-inline">
                            <input 
                            class="form-check-input" 
                            type="radio" 
                            name="vinculo_funcional" 
                            id="CONCURSADO" 
                            [value]="'CONCURSADO'"  
                            [(ngModel)]="servidor.vinculo_funcional" />
                            <label class="form-check-label" for="CONCURSADO">Concursado</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input 
                            class="form-check-input" 
                            type="radio" 
                            name="vinculo_funcional" 
                            id="PROBATORIO" 
                            [value]="'PROBATORIO'" 
                            [(ngModel)]="servidor.vinculo_funcional" />
                            <label class="form-check-label" for="PROBATORIO">Estágio Probatório</label>
                        </div>
                    </div>
                    
                     <div class="mb-3">
                    <label class="form-label d-block">Status:</label>
                        <div class="form-check form-check-inline">
                            <input 
                            class="form-check-input" 
                            type="radio" 
                            name="status_servidor" 
                            id="ATIVO"                             
                            [value]="'ATIVO'" 
                            [(ngModel)]="servidor.statusServidor" />
                            <label class="form-check-label" for="ATIVO">Ativo</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input 
                            class="form-check-input" 
                            type="radio" 
                            name="status_servidor" 
                            id="INATIVO" 
                            [value]="'INATIVO'" 
                            [(ngModel)]="servidor.statusServidor" /> 
                            <label class="form-check-label" for="INATIVO">Inativo</label>
                        </div>
                    </div>
                         <button type="button" class="btn btn-success btn-rounded" mdbRippled (click)="save()">Salvar</button> 
                    </div>
            </div>
        </div>
    </div>
</div>