 <br>
<div class="container">
    <div class="row">
        <div class="col-12 azul">
            <div class="card">
                 <div class="card-body">
                    <h3> Cadastro de Servidor </h3>
                    <br>
                    <mdb-form-control>
                        <input mdbInput type="text" id="nome" placeholder="Nome" class="form-control" [(ngModel)]="servidor.nome" name="nome"/>
                        <label for="nome" class="form-label">Nome</label>
                    </mdb-form-control>
                    <br>
                    <mdb-form-control>
                        <input mdbInput type="number" id="matricula" placeholder="Matricula" class="form-control" [(ngModel)]="servidor.matricula" name="matricula"/>
                        <label for="matricula" class="form-label">Matricula</label>
                    </mdb-form-control>
                    <br>
                    <mdb-form-control>
                        <input mdbInput type="text" id="cargo" placeholder="Cargo" class="form-control" [(ngModel)]="servidor.cargoAtual" name="cargo"/>
                        <label for="cargo" class="form-label">cargo</label>
                    </mdb-form-control>
                     <br>
                    <mdb-form-control>
                        <input mdbInput type="text" id="setor" placeholder="Setor" class="form-control" [(ngModel)]="servidor.setor" name="setor"/>
                        <label for="setor" class="form-label">Setor</label>
                    </mdb-form-control>
                    <br>
                    <mdb-form-control>
                        <input mdbInput type="date" id="dataAvaliacao" placeholder="Data de avaliação" class="form-control" [(ngModel)]="servidor.dataAvaliacao" name="dataAvaliacao"/>
                        <label for="dataAvaliacao" class="form-label">Data de avaliação</label>
                    </mdb-form-control>
                    <br>
                    <div class="mb-3">
                    <label class="form-label d-block">Tipo de Avaliação</label>
                        <div class="form-check form-check-inline">
                            <input 
                            class="form-check-input" 
                            type="radio" 
                            name="tipoAvaliacao" 
                            id="concursado" 
                            [value]="'Concursado'" 
                            [(ngModel)]="servidor.tipoAvaliacao" />
                            <label class="form-check-label" for="tipoConcursado">Concursado</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input 
                            class="form-check-input" 
                            type="radio" 
                            name="tipoAvaliacao" 
                            id="probatorio" 
                            [value]="'Estágio Probatório'" 
                            [(ngModel)]="servidor.tipoAvaliacao" />
                            <label class="form-check-label" for="tipoProbatório">Estágio Probatório</label>
                        </div>
                    </div>
                       <button type="button" class="btn btn-success btn-rounded" mdbRippled (click)="save()">salvar</button>
                    </div>
            </div>
        </div>
    </div>
</div>